@media (max-width: 600px) {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 12px;
  }

  td {
    display: block;
  }
  
}
label {
  display: block;
  margin-top: 1.25rem;
}

input, select, textarea {
  display: block;
  width: 100%;
  padding: 0.6rem 0.75rem;
}

button {
  padding: 0.75rem 1.5rem;
}
